.detailPage {
  &:focus-within {
    scroll-behavior: smooth;
  }
  background-color: var(--green-dark-color);
  color: var(--white-color);
  min-height: 100vh;
  position: relative;
  padding-top: 30px;
  font-size: 1.6rem;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    height: 700px;
    z-index: 0;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      background-image: linear-gradient(
        to bottom,
        transparent,
        var(--green-dark-color)
      );
      height: 200px;
    }
  }
  &__wrapper {
    position: relative;
    &__generalInfo {
      width: 100%;
      &__image {
        width: fit-content;
        border-radius: 12px;
        position: relative;
        margin: 0 auto;
        &__rating {
          border-radius: 50%;
          background-color: var(--primary-color);
          font-size: 2rem;
          width: fit-content;
          height: fit-content;
          position: absolute;
          padding: 20px 30px;
          top: 0;
          left: 0;
          transform: translate(-30%, -30%);
        }
        img {
          width: 100%;
          height: 100%;
          max-width: 340px;
          max-height: 510px;
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2),
            8px 8px 60px -10px rgba(0, 0, 0, 0.4);
          border-radius: 12px;
        }
      }
      &__content {
        padding: 50px;
        width: 100%;
        height: 100%;
        max-height: 510px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &__name {
          font-size: 3rem;
        }

        &__starGenres {
          display: flex;
          margin-bottom: 20px;
          & .star {
            flex-shrink: 0;
            width: fit-content;
            position: relative;
            font-size: 1rem;
            letter-spacing: 1px;
            display: inline-block;
            margin-right: 10px;
            &__inner {
              position: absolute;
              top: 0;
              left: 0;
              overflow: hidden;
              width: 50%;
              white-space: nowrap;
              &__content {
                color: var(--primary-color);
              }
            }
          }
          & .genres {
            display: inline-block;
            text-align: left;
            &__link {
              display: inline-block;
              color: var(--gray-color);
              margin: 0 4px;
              text-decoration: underline;
              &:hover {
                color: var(--white-color);
                text-decoration: underline;
              }
            }
            &__icon {
              color: var(--primary-color);
              margin-right: 4px;
            }
          }
        }
        &__overview {
          word-break: break-word;
          text-align: left;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-bottom: 20px;
        }
        &__button {
          a {
            display: inline-block;
            position: relative;
            color: var(--white-color);
            padding: 10px 20px;
            text-decoration: none;
            opacity: 0.9;
            transition: all 1s;
            &:hover {
              text-decoration: none;
              color: var(--white-color);
            }
          }
          .buttonWatch {
            background-color: #d9cb50;
            &:hover {
              opacity: 1;
              background-color: var(--primary-color);
            }
          }
          .buttonWishList {
            margin-left: 20px;
            background-color: #293462;
            &:hover {
              background-color: var(--light-green-dark-color);
              opacity: 1;
            }
          }
        }
      }
    }
    &__trailer {
      margin: 35px 0;
      width: 100%;
      &__content {
        margin: 0 auto;
        padding-top: 45px;
        display: flex;
        width: 100%;
        max-width: 780px;
        flex-direction: column;
        align-items: flex-start;
        &__heading {
          width: fit-content;
          font-size: 2.9rem;
          color: var(--primary-color);
          margin-bottom: 50px;
        }
        &__video {
          width: 100%;
          height: 440px;
          max-height: 440px;
          & iframe {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
      }
    }
    &__season {
      width: 100%;
      margin-top: 35px;
      &__content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 780px;
        background-color: var(--black-color);
        padding: 15px 20px;
        border-radius: 10px;
        &__heading {
          display: flex;
          justify-content: space-between;
          & .headingWord {
            font-weight: 700;
          }
          &__dropbox {
            width: fit-content;
          }
        }
        &__episode {
          padding: 0;
          max-height: 600px;
          height: 600px;
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 5px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: var(--white-color);
            border-radius: 10px;
          }
        }
      }
    }
    &__comment {
      margin: 45px 0;
    }
  }
}
// Responsive
@media (max-width: 576px) {
  .detailPage__wrapper {
    &__generalInfo {
      &__image {
        &__rating {
          padding: 10px 20px;
        }
        img {
          max-width: 240px;
        }
      }
      &__content {
        max-height: 600px;
        &__name {
          font-size: 2rem;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        align-items: center;
        &__starGenres {
          flex-direction: column;
          gap: 15px 0;
          align-items: center;
          & .star {
            font-size: 2rem;
          }
        }
        &__overview {
          -webkit-line-clamp: 3;
        }
        &__button {
          width: 100%;
          display: flex;
          flex-direction: column;
          .buttonWishList {
            margin: 10px 0 0 0;
          }
        }
      }
    }
    &__trailer {
      &__content {
        align-items: center;
        &__heading {
          font-size: 2rem;
        }
        &__video {
          width: fit-content;
          height: fit-content;
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 800px) {
  .detailPage__wrapper__trailer__content__video {
    height: 300px;
    max-height: 300px;
  }
}
