.detailPage {
  background-color: var(--green-dark-color);
  color: var(--white-color);
  min-height: 100vh;
  position: relative;
  padding-top: 30px;
  font-size: 1.6rem;
}

.detailPage__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  height: 700px;
  z-index: 0;
}

.detailPage__background::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--green-dark-color)));
  background-image: linear-gradient(to bottom, transparent, var(--green-dark-color));
  height: 200px;
}

.detailPage__wrapper {
  position: relative;
}

.detailPage__wrapper__generalInfo {
  width: 100%;
}

.detailPage__wrapper__generalInfo__image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 12px;
  position: relative;
  margin: 0 auto;
}

.detailPage__wrapper__generalInfo__image__rating {
  border-radius: 50%;
  background-color: var(--primary-color);
  font-size: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  padding: 20px 30px;
  top: 0;
  left: 0;
  -webkit-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
}

.detailPage__wrapper__generalInfo__image img {
  width: 100%;
  height: 100%;
  max-width: 340px;
  max-height: 510px;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), 8px 8px 60px -10px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), 8px 8px 60px -10px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}

.detailPage__wrapper__generalInfo__content {
  padding: 50px;
  width: 100%;
  height: 100%;
  max-height: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.detailPage__wrapper__generalInfo__content__name {
  font-size: 3rem;
}

.detailPage__wrapper__generalInfo__content__starGenres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.detailPage__wrapper__generalInfo__content__starGenres .star {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-size: 1rem;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 10px;
}

.detailPage__wrapper__generalInfo__content__starGenres .star__inner {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 50%;
  white-space: nowrap;
}

.detailPage__wrapper__generalInfo__content__starGenres .star__inner__content {
  color: var(--primary-color);
}

.detailPage__wrapper__generalInfo__content__starGenres .genres {
  display: inline-block;
  text-align: left;
}

.detailPage__wrapper__generalInfo__content__starGenres .genres__link {
  display: inline-block;
  color: var(--gray-color);
  margin: 0 4px;
  text-decoration: underline;
}

.detailPage__wrapper__generalInfo__content__starGenres .genres__link:hover {
  color: var(--white-color);
  text-decoration: underline;
}

.detailPage__wrapper__generalInfo__content__starGenres .genres__icon {
  color: var(--primary-color);
  margin-right: 4px;
}

.detailPage__wrapper__generalInfo__content__overview {
  word-break: break-word;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 20px;
}

.detailPage__wrapper__generalInfo__content__button a {
  display: inline-block;
  position: relative;
  color: var(--white-color);
  padding: 10px 20px;
  text-decoration: none;
  opacity: 0.9;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.detailPage__wrapper__generalInfo__content__button a:hover {
  text-decoration: none;
  color: var(--white-color);
}

.detailPage__wrapper__generalInfo__content__button .buttonWatch {
  background-color: #d9cb50;
}

.detailPage__wrapper__generalInfo__content__button .buttonWatch:hover {
  opacity: 1;
  background-color: var(--primary-color);
}

.detailPage__wrapper__generalInfo__content__button .buttonWishList {
  margin-left: 20px;
  background-color: #293462;
  cursor: pointer;
}

.detailPage__wrapper__generalInfo__content__button .buttonWishList:hover {
  background-color: var(--light-green-dark-color);
  opacity: 1;
}

.detailPage__wrapper__trailer {
  margin: 35px 0;
  width: 100%;
}

.detailPage__wrapper__trailer__content {
  margin: 0 auto;
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 780px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.detailPage__wrapper__trailer__content__heading {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.9rem;
  color: var(--primary-color);
  margin-bottom: 50px;
}

.detailPage__wrapper__trailer__content__video {
  width: 100%;
  height: 440px;
  max-height: 440px;
}

.detailPage__wrapper__trailer__content__video iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.detailPage__wrapper__season {
  width: 100%;
  margin-top: 35px;
}

.detailPage__wrapper__season__content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 780px;
  background-color: var(--black-color);
  padding: 15px 20px;
  border-radius: 10px;
}

.detailPage__wrapper__season__content__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detailPage__wrapper__season__content__heading .headingWord {
  font-weight: 700;
}

.detailPage__wrapper__season__content__heading__dropbox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.detailPage__wrapper__season__content__episode {
  padding: 0;
  max-height: 600px;
  height: 600px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow-y: scroll;
}

.detailPage__wrapper__season__content__episode::-webkit-scrollbar {
  width: 5px;
}

.detailPage__wrapper__season__content__episode::-webkit-scrollbar-thumb {
  background-color: var(--white-color);
  border-radius: 10px;
}

.detailPage__wrapper__comment {
  margin: 45px 0;
}

@media (max-width: 576px) {
  .detailPage__wrapper__generalInfo__image__rating {
    padding: 10px 20px;
  }
  .detailPage__wrapper__generalInfo__image img {
    max-width: 240px;
  }
  .detailPage__wrapper__generalInfo__content {
    max-height: 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .detailPage__wrapper__generalInfo__content__name {
    font-size: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .detailPage__wrapper__generalInfo__content__starGenres {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .detailPage__wrapper__generalInfo__content__starGenres .star {
    font-size: 2rem;
  }
  .detailPage__wrapper__generalInfo__content__overview {
    -webkit-line-clamp: 3;
  }
  .detailPage__wrapper__generalInfo__content__button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .detailPage__wrapper__generalInfo__content__button .buttonWishList {
    margin: 10px 0 0 0;
  }
  .detailPage__wrapper__trailer__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .detailPage__wrapper__trailer__content__heading {
    font-size: 2rem;
  }
  .detailPage__wrapper__trailer__content__video {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (min-width: 576px) and (max-width: 800px) {
  .detailPage__wrapper__trailer__content__video {
    height: 300px;
    max-height: 300px;
  }
}
/*# sourceMappingURL=detail-page.module.css.map */