.item {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--white-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item__imageWrapperMedium {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 10px;
}

.item__imageWrapperMedium::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--black-color)));
  background-image: linear-gradient(to bottom, transparent, var(--black-color));
  opacity: 1;
  border-radius: 10px;
}

.item__layoutContentMedium {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 2rem 2rem;
}

.item__layoutContentMedium__rating {
  position: relative !important;
  left: auto !important;
  top: auto !important;
  -webkit-transform: none !important;
          transform: none !important;
}

.item__layoutContentMedium__overview {
  width: 60% !important;
}

.item__imageWrapper {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.item__imageWrapper__content {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.item__layoutContent {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.item__layoutContent__rating {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--yellow-color);
  border-radius: 2rem;
  padding: 0.3em 1.1em;
}

.item__layoutContent__star {
  position: relative;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 0.5rem 0;
}

.item__layoutContent__star__inner {
  position: absolute;
  top: -0.5px;
  left: 0;
  overflow: hidden;
  width: 50%;
}

.item__layoutContent__star__inner::after {
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  color: var(--yellow-color);
  content: '\f005 \f005 \f005 \f005 \f005';
}

.item__layoutContent__name {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.item__layoutContent__genres {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.item__layoutContent__genres__text {
  color: var(--gray-color);
  text-decoration: underline;
  display: inline-block;
}

.item__layoutContent__genres__text:hover {
  color: var(--white-color);
  text-decoration: underline;
  cursor: pointer;
}

.item__layoutContent__genres__text i {
  color: var(--yellow-color);
  margin: 0.5em 0.5em 0 0;
}

.item__layoutContent__overview {
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.displayNone {
  display: none;
}
/*# sourceMappingURL=item.module.css.map */