@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.navbar {
  background-color: var(--header-color);
  &__search-bar-menu {
    display: inline-block;
  }
  .container {
    height: 80px;
  }
  &__logo {
    z-index: 100;
    margin-left: -24px;
  }
  &__nav {
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 150;
  }
  &__text {
    margin: 0;
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 300;
  }
  .navItem {
    &__link {
      margin-left: 40px;
      display: block;
      color: #899e9e;
      height: 100%;
      font-weight: 600;
      font-size: 1.6rem;
      border-bottom: 2px solid transparent;
      transition: 0.2s ease-in;
      cursor: pointer;
      &:hover {
        color: var(--white-color);
      }
      &--active {
        color: var(--white-color);
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .container {
    padding: 0;
  }
  .navbar {
    position: relative;
    &__search-bar {
      display: block;
      -menu {
        display: block;
      }
    }

    &__nav {
      position: fixed;
      background-color: var(--base-color);
      box-shadow: -4px 0 16px rgba(#111, 0.3);
      display: block;
      top: 0;
      right: 0;
      padding: 50px;
      min-height: 100vh;
      width: 360px;
      transform: translateX(100%);
      transition: transform 0.3s ease-out;
    }
    .navItem {
      margin: 0;
      height: fit-content;

      &__link {
        margin-left: 0px;
        text-align: left;
        padding: 15px 0;
        border-color: rgba(#899ead, 0.2);
      }
    }
    &__text {
      font-size: 2rem;
    }
  }
  .burger__btn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    padding: 10px;
    &--over {
      background-color: rgba(#888, 0.5);
      & ~ .navbar__nav {
        transform: translateX(0);
      }
    }
  }
}
