.comment {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background-color: var(--black-color);
  padding: 10px 15px;
  &__heading {
    display: flex;
    justify-content: flex-start;
    &__totalComment {
    }
  }
  &__input {
    margin: 15px 0;
    width: 100%;
    padding: 0 20px;
    input {
      background-color: var(--black-color);
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 1px solid var(--white-color);
    }
  }
  &_list {
    margin-top: 15px;
    height: 400px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--white-color);
      border-radius: 10px;
    }
  }
}
