@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
.home {
  background-color: var(--base-color);
}
.section {
  background-color: var(--base-color);
  &__heading {
    margin-bottom: 40px;
  }
  &__title {
    font-size: 5rem;
    font-weight: 600;
    color: var(--white-color);
  }
  &__paragraph {
    font-size: 2rem;
    color: #b8c5c5;
  }
  &__new {
    .section {
      &__heading {
        text-align: center;
      }
      &__title {
        letter-spacing: 4px;
      }
    }
  }
  &__hero {
    margin-bottom: 30px;
  }
  &__recommend {
    height: 100vh;
    padding: 0 !important;
  }
}
.movie {
  &__feature {
    &-list {
      gap: 12px 0;
    }
    &-item {
      height: 500px;
    }
  }
  &__new {
    .movie {
      &__list-alt {
        max-height: 400px;
        overflow: hidden;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .movie {
    &__feature {
      &-item {
        height: 360px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .section {
    &__title {
      font-size: 3rem;
    }
    &__paragraph {
      font-size: 1.4rem;
    }
  }
  .movie {
    &__feature {
      &-item {
        height: 320px;
      }
    }
    &__new {
      .movie {
        &__list-alt {
          margin: 12px 0;
        }
      }
    }
  }
}
