html {
  margin: 0;
  font-family: 'Catamaran', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  min-height: 100vh;
}
* {
  box-sizing: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
