@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

:root {
  --primary-color: #f1b722;
  --white-color: #fff;
  --header-color: #0c2738;
  --base-color: #081b27;
  --text-color: #333;
  --black-color: #040404;
  --green-dark-color: #081b27;
  --light-green-dark-color: #355569;
  --gray-color: #d8e1e8b0;
  --dark-color: #081b27;
  --red-color: #f5474a;
}
.link {
  text-decoration: none;
}
.container {
  &::before {
    content: none;
  }
  &::after {
    content: none;
  }
}
.bold {
  font-weight: 600;
}

.section {
  font-family: inherit;
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: var(--base-color);
  &--footer {
    padding: 100px 0;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 25px 11px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  transition: ease-in 0.15s;
  &--secondary {
    border: 2px solid var(--white-color);
    color: var(--white-color);
    &:hover {
      background-color: var(--white-color);
      color: var(--text-color);
    }
  }
  &--favourite {
    border: 2px solid var(--red-color);
    color: var(--red-color);
    background-color: rgba(#f36e70, 0.2);
    &:hover {
      background-color: var(--red-color);
      color: var(--white-color);
    }
  }
}

@include media-breakpoint-down(md) {
  .section {
    padding: 30px 20px;
  }
  .button {
    font-size: 1rem;
    padding: 8px 12px 5px;
  }
}
