@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

:root {
  --primary-color: #f1b722;
  --white-color: #fff;
  --header-color: #0c2738;
  --base-color: #081b27;
  --text-color: #333;
}
.link {
  text-decoration: none;
}
.container {
  &::before {
    content: none;
  }
  &::after {
    content: none;
  }
}
.bold {
  font-weight: 600;
}

.section {
  font-family: inherit;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #081b27;
}

@include media-breakpoint-down(md) {
  .section {
    padding: 50px 20px;
  }
}
