
:root {
  --primary-color: #f1b722;
  --white-color: #fff;
  --base-color: #081b27;
  --text-color: #333;
}
.link {
  text-decoration: none;
}
.container::before {
  content: none;
}
.container::after {
  content: none;
}
.bold {
  font-weight: 600;
}
